.rsWrapper {
  width: 1500px;
}

.flexCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menuBox {
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid skyblue;
}

.menu {
  margin: 30px 10px 30px 10px;
  cursor: pointer;
  transition: 0.5s;
  font-size: 16px;
  position: relative;
}

.menu::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: skyblue;
  transition: 0.5s;
}

.menu:last-child {
  margin: 1;
}

.menu:hover {
  color: skyblue;
}

.menu:hover.menu::before {
  width: 100%;
}

.flexCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rsWapper {
  width: 1350px;
  padding: 20px;
}

.flexRowCenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
